/* VARIABLES */
:root {
	--clr-black: #000000;
	--clr-white: #ffffff;
	--clr-light-grey: #d8d9db;
	--clr-btn-hover: #ebebeb;
	--clr-btn-active: #bbbcbe;
	--clr-btn-func: #df974c;
	--clr-btn-func-hover: #dfb07e;
	--clr-btn-func-active: #dd8d37;
}
/* GLOBAL */
html {
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
body {
	padding: 0;
	margin: 0;
	line-height: 1.4;
}
/* LAYOUT */
.container {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.calculator {
	width: 400px;
	background-color: var(--clr-black);
}
.calc-row {
	display: flex;
	flex-flow: row nowrap;
}

[class*='calc-'] {
	border: none;
	flex: 1;
}
.double {
	flex: 3;
}
.triple {
	flex: 5;
}
/* SCREEN */
.screen {
	color: var(--clr-white);
	text-align: right;
	font-size: 2.5rem;
	padding: 0.7em 0.25em;
}
/* BUTTONS */
.calc-btn {
	font-size: 2.5rem;
	padding: 0.7em 0.6em;
	margin: 0.025em;
	cursor: pointer;
}
.calc-btn:hover {
	background-color: var(--clr-btn-hover);
}
.calc-btn:active {
	background-color: var(--clr-btn-active);
}
.calc-btn:focus {
	outline: 0;
}
.calc-btn:last-child {
	background-color: var(--clr-btn-func);
	color: var(--clr-white);
}
.calc-btn:hover:last-child {
	background-color: var(--clr-btn-func-hover);
}
.calc-btn:active:last-child {
	background-color: var(--clr-btn-func-hover);
}
